/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/11/2020, 12:30:39 PM
    Author     : david
*/
.label{
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

#imageContainer{
    -fx-background-image: url("numbersystemimage.jpg");
}
